
# This is necessary configuration
[tfvars]

## Please write a project name here
project_name = default

## Please select location from the list: https://learn.microsoft.com/en-us/azure/reliability/regions-list
location = West US

## Please select path to source files (html, css, etc.)
source_files = ./src

# Please enable the needed modules
[modules]

## Enable Networking module
networking = false

## Enable Compute module
compute = false

## Enable Database module
database = false

## Enable Storage module
storage = true

## Enable Security module
security = false

## Enable CI/CD module
# ci_cd = true
